/*-------------------------------*/
/* THEME01 */
/*-------------------------------*/
:root {
  --THEME2_color_LG_main_bg: hsl(0, 0%, 90%);
  --THEME2_color_GR_toggle_bg: hsl(0, 5%, 81%);
  --THEME2_color_GR_keypad_bg: hsl(0, 5%, 81%);
  --THEME2_color_VLG_screen_bg: hsl(0, 0%, 93%);
  --THEME2_color_DMC_key_bg: hsl(185, 42%, 37%);
  --THEME2_color_VDC_key_shadow: hsl(185, 58%, 25%);
  --THEME2_color_O_key_bg: hsl(25, 98%, 40%);
  --THEME2_color_O_key_bg_toggle: hsl(25, 98%, 40%);
  --THEME2_color_LGY_key_bg: hsl(45, 7%, 89%);
  --THEME2_color_DGO_key_shadow: hsl(35, 11%, 61%);
  --THEME2_color_VDGY: hsl(60, 10%, 19%);
}

.theme2_bg_body {
  background-color: var(--THEME2_color_LG_main_bg);
}

.theme2 .theme2_text_black {
  color: var(--black);
}

.theme2 .theme2_style_range_srt::-webkit-slider-runnable-track {
  background-color: var(--THEME2_color_GR_toggle_bg);
}

.theme2 .theme2_style_range_st::-webkit-slider-thumb {
  background-color: var(--THEME2_color_O_key_bg_toggle);
}

.theme2 .theme2_display_screen {
  background-color: var(--THEME2_color_VLG_screen_bg);
}

.theme2 .theme2_result {
  color: var(--black);
}
/*-------------------------------*/
