/*-------------------------------*/
/* THEME01 */
/*-------------------------------*/
:root {
  --THEME1_color_toggle_bg: hsl(223, 31%, 20%);
  --THEME1_color_keypad_bg: hsl(223, 31%, 20%);
  --THEME1_color_main_bg: hsl(222, 26%, 31%);
  --THEME1_color_screen_bg: hsl(224, 36%, 15%);
  --THEME1_color_key_bg: hsl(225, 21%, 49%);
  --THEME1_color_key_shadow: hsl(224, 28%, 35%);
  --THEME1_color_key_bg: hsl(6, 63%, 50%);
  --THEME1_color_key_bg_toggle: hsl(6, 63%, 50%);
  --THEME1_color_key_bg: hsl(30, 25%, 89%);
  --THEME1_color_key_shadow: hsl(28, 16%, 65%);
  --THEME1_color: hsl(221, 14%, 31%);
}

.theme1_bg_body {
  background-color: var(--THEME1_color_main_bg);
}

.theme1 .theme1_text_white {
  color: var(--white);
}

.theme1 .theme1_style_range_srt::-webkit-slider-runnable-track {
  background-color: var(--THEME1_color_toggle_bg);
}

.theme1 .theme1_style_range_st::-webkit-slider-thumb {
  background-color: var(--THEME1_color_key_bg_toggle);
}

.theme1 .theme1_display_screen {
  background-color: var(--THEME1_color_screen_bg);
}

.theme1 .theme1_result {
  color: var(--white);
}
/*-------------------------------*/
